* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f8f8f8;
}

header h1 {
  text-align: center;
  padding: 40px 0;
  color: #fff;
  background-color: #4169e1;
}

.container {
  padding: 40px 40px 0 40px;
}

#form-content form .input-field {
  display: flex;
  flex-direction: column;
}

#form-content form .input-field input {
  height: 40px;
  max-width: 600px;
  min-width: 100px;
  color: black;
  padding: 0 0 0 10px;
  border-radius: 5px;
  border: none;
  outline: none;
  background-color: #d3d3d3;
}

#form-content form .input-field label {
  font-size: 15px;
}

#form-content form .input-field label span {
  font-size: 14px;
  color: #808080;
}

#form-content form .input-field .input-required {
  margin-bottom: 40px;
  color: #ff0000;
  font-size: 13px;
  visibility: hidden;
}


#form-content form #submit-button,
#form-content form #save-button {
  background-color: #57ec3e;
  color: #fff;
  font-size: 15px;
  letter-spacing: 1px;
  padding: 8px 10px;
  border: none;
  border-radius: 3px;
  margin-bottom: 20px;
}

#form-content form #submit-button:disabled {
  opacity: 0.6;
}

#table-content {
  display: flex;
  flex-direction: column;
}

#table {
  border-collapse: collapse;
}

#table thead tr th {
  text-align: left;
}

#table thead tr th:nth-child(3) {
  text-align: center;
}

#table thead tr th:nth-child(1) {
  width: 600px;
}

#table tbody tr td:nth-child(3) {
  display: flex;
  justify-content: space-evenly;
}

#table, th, td {
  border: 1px solid #a0a0a0;
  padding-left: 20px;
}